$sg-grey   : rgb(149, 154, 146);
$sg-black  : #2d2f32;
$sg-white  : #eaeaea;
$sg-green : #107D3F;
$sg-blue    : #88A5C1;
$sg-trueWhite : rgb(255, 255, 255);
// =======Global=================
html {
    width:0;
    
}
body {
    background-color: $sg-white;
    width: 100vw;

}
details {
    cursor: pointer;
}
a:hover {
    color: $sg-green;
}

// ========Nav Bar===============
.link {
    list-style: none;
    width: 140px;
}

 a {
    text-decoration: none;
    color: $sg-black;
}
a:active {
    cursor: grabbing;
}
ul {
    display: flex;
    flex-direction: row;
}
.navbar {
   @extend ul;
    width: 100vw;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    background-color: $sg-trueWhite;
}
.left-link {
    margin-left:10px;
}
.right-link {
    margin-right: 30px;
}
.logo {
    margin-top: 15px;
    width: 200px;
    height: 80px;
}
//=========== create form in navbar==========

.create {
    list-style-type: none;
    margin: -10px 0 0 0;
}

.createImg {
    height: 35px;
    width: 35px;
    margin-bottom: 20px;
}
.createDetails{
    position: absolute;
    margin-right: 10px;
    z-index: 1;
}
.createForm {
    display: flex;
    flex-wrap: wrap;
    width: 520px;
    padding:6 5px 0 0 3px;
    margin-top: 20px;
}
label {
    text-align: left;
}
.createDetails input{
    width: 100px;
    height: 15px;
    margin: 2px 5px 2px 5px;
    background-color: rgba(255, 255, 255, 0.425);
    display: block;
    text-align: center;
}
.createButton {
    height: 50px;
    margin: 60px 10px 0 0;
    background-color: $sg-blue;
    color: $sg-white;
    box-shadow: $sg-grey;
    text-shadow: $sg-green;
    border-radius: 10px;
}
.grid-container {
    display: grid;
    margin-top: 10px;
    grid-template-columns: auto auto auto auto;
    background-color: rgba(25, 97, 25, 0.171);
    border-radius: 10px;
  }
  .grid-item {
    color:$sg-white;
    height: 40px;
    padding: 2px;
    font-size: 12px;
    text-align: center;
    margin: 2px;
  }

// =============Display image==========
.homeImg {
    width: 100vw;
    height: 250px;

}


//=============== map=============

.map {
    float: right;
    margin: 30px 50px 20px 0;
    vertical-align: center;
    width: 45vw;
    height: 40vh;
}
// ============location box images=================

.img { 
    width: 30vw;
    height: 300px;
    border-radius: 10px;
}

// ===========Scroll box for locatios box=======
.scrollBox {
    margin: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    width: 50vw;
    height: 400px;
    // border: 1px solid green;

}

// ============location box=================
.locations {
    display: block;
    margin: 0 auto 20px auto;
    height: 700px;
    width: 40vw;
    padding: 5px;
    background-color:rgba(72, 109, 94, 0.441) ;
    border-radius: 10px;
    
}
.slides {
  position: relative;
}
.slick-dots {
    margin-bottom: -15px;
    bottom: 0;
}
.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index:1;
}

.slides .slick-prev {
  left: 2%;
}

.slides .slick-next {
  right: 2%;
}

// ========TextBox=========
.textbox {
    background-color:$sg-white ;
    text-align: center;
    margin-top: 25px;
    padding: 5px;
    border-radius: 5px;
}
.textbox-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: between;
    border: 1px solid rgba(255, 255, 255, 0);
} 
.flex-info {
    width: 150px;
    margin: 5px 10px;
    text-align: left;
}

.details {
    list-style-type: none;
    text-decoration:none;
    background-color:rgba(121, 133, 117, 0.126);
    text-align: center;
    padding: 10px;
    
}
input {
    width: 500px;
    height: 20px;
}
details summary::-webkit-details-marker {
    display:none;
  }
details summary:focus {
    outline: none;
  }
.editButton {
    margin: 5px;
    width: 150px;
    height: 25px;
}
.Edit {
    width: 30px;
    height: 30px;
    display: block;
    margin: auto;
    padding: 2px;
}

// =========footer========
.footer {
    position: fixed;
    height: 80px;
    text-align: center;
    width: 100vw;
    margin-top: 50px;
    // background-color: $sg-white;
    background-color: $sg-blue;
    
}
.footer ul {
    padding: 0 10px;
    display: flex;
    justify-content: space-around;
}
.footer li {
    list-style: none;
}
