$sg-grey   : rgb(149, 154, 146);
$sg-black  : #2d2f32;
$sg-white  : #eaeaea;
$sg-green : #107D3F;
$sg-blue    : #88A5C1;
$sg-trueWhite : rgb(255, 255, 255);
// =======Global=================

body {
    background-color: $sg-white;
    width: 100vw;

}
details {
    cursor: pointer;
}
a:hover {
    color: $sg-green;
}
a {
    text-decoration: none;
    color: $sg-black; 
}
a:active {
    cursor: grabbing;
}

@media only screen and (min-width: 600px) {
// ========Nav Bar===============
.link {
    list-style: none;
    width: 60px;
    margin: 5px; 
}
.aLeft1 {
    margin-left: 20px;
}

.aLeft2 {
    margin: 0  10% 0 5px;

 }
.aRight1 {
    margin: 0  2% 0 10%;

}
.aRight2 {
    margin-right: 30px;

}
.ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 80px;
    padding: 0;
}

.navbar {
    position:fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: $sg-trueWhite;
    
}

.logo {
    width: 200px;
    height: 80px;
    margin: 30px auto 15px -50%;
}
//=========== create form in navbar==========
.create {
    list-style-type: none;
    margin: -60px 50px 0 10px;
}

.createImg {
    height: 25px;
    width: 25px;
    margin: 18px 0 0 -100px;
}
.createDetails{
    position: absolute;
    margin-right: 10px;
    z-index: 1;
}
.createForm {
    display: flex;
    flex-wrap: wrap;
    width: 520px;
    margin: 5px 0;
    
}
label {
    text-align: left;
    width: 60px;
}
.createDetails input{
    width: 150px;
    height: 15px;
    margin: 2px;
    background-color: rgba(255, 255, 255, 0.425);
    display: block;
    text-align: center;
    border: $sg-white;
}
.createButton {
    height: 50px;
    margin: 65px 20px 0 0;
    background-color: $sg-green;
    color: $sg-white;
    box-shadow: 2px 2px 2px 2px rgba(94, 104, 95, 0.551);
    border:none;
    border-radius: 10px;
}
.grid-container {
    display: grid;
    margin: 30px 0 0 -200px;
    grid-template-columns: auto auto auto auto;
    background-color: rgba(25, 97, 25, 0.171);
    border-radius: 10px;
    
  }
  .grid-item {
    color:$sg-white;
    height: 30px;
    padding: 2px;
    font-size: 12px;
    text-align: center;
    margin: 2px;
  }

// =============Display image==========
.homeImg {
    width: 100vw;
    height: 250px;

}


//=============== map=============

.map {
    float: right;
    margin: 50px 50px 20px 0;
    vertical-align: center;
    width: 55%;
    height: 55vh;
    box-shadow: 0 0 15px 0 $sg-blue;

}
// ============location box images=================

.img { 
    width: 100% !important;
    height: 25vh;
    border-radius: 10px;
}

// ===========Scroll box for locatios box=======
.scrollBox {
    margin: 50px auto 0 auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    width: 35%;
    height: 55vh;
    box-shadow: 0 0 15px 0 $sg-blue;
}
.scrollBox div {
    width: 34vw;
}
// ============location box=================
.locations {
    display: block;
    margin: 0 auto 30px auto;
    height: 460px;
    width: 46vw;
    padding: 5px;
    background-color:rgba(72, 109, 94, 0.441) ;
    box-shadow: 1px 1px 5px 1px $sg-blue;

}
.slides {
  position: relative;
}
.slick-dots {
    margin-bottom: -10px;
    bottom: 0;
}
.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index:1;
}

.slides .slick-prev {
  left: 2%;
}

.slides .slick-next {
  right: 2%;
}

// ========TextBox=========
.textbox {
    background-color:$sg-white ;
    text-align: center;
    margin-top: 25px;
    width: 46vw;
    border-radius: 10px;
}
h1 {
    font-size: 20px;
    margin: 0;
}
h2 {
    font-size: 16px;
    margin: 0 0 5px 0;
}
.textbox-flex {
    display: grid;
    grid-template-columns: auto auto auto auto;
    border: 1px solid rgba(255, 255, 255, 0);
} 
.flex-info {
    width: 60px;
    margin: 5px 10px;
    text-align: left;
    font-size: 12px;
}
.description {
    margin: 10px;
    font-size: 10px;
}
.details {
    list-style-type: none;
    text-decoration:none;
    background-color:rgba(8, 45, 8, 0.619);
    text-align: center;
    padding: 10px; 
    position: relative;
    z-index: 5;
    border-radius: 10px;
}
input {
    width: 15vw;
    height: 12px;
    margin: 2.5px;
}
label {
    margin-left: 10px;
}
details summary::-webkit-details-marker {
    display:none;
  }
details summary:focus {
    outline: none;
  }
.editButton {
    font-size: 12px;
    width: 150px;
    height: 25px;
}
.Edit {
    width: 30px;
    height: 30px;
    display: block;
    margin: auto;
    padding: 2px;
}
.editForm {
    font-size: 12px;
    color: $sg-white;
    margin: 2px;
}
.editGrid {
    display: grid;
    grid-template-columns: 2px auto auto auto;

}
// =========footer========
.footer {
    position:fixed;
    bottom: 0;
    height: 80px;
    text-align: center;
    width: 100%;
    margin-top: 5px;
    background-color: $sg-blue;    
}
.footer ul {
    display: flex;
    justify-content: space-around;
}
.footer li {
    list-style: none;
}

}
