.cluster-marker {
    color: #fff;
    background: #197819;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapimg {
    height: auto;
    border-radius: 10px;
}


  