$sg-grey   : rgb(149, 154, 146);
$sg-black  : #2d2f32;
$sg-white  : #eaeaea;
$sg-green : #107D3F;
$sg-blue    : #88A5C1;
$sg-trueWhite : rgb(255, 255, 255);

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: yellow;
}

// ================ Nav bar ============ //
.link {
    list-style: none;
    width: 70px;
    // padding: 5px;
    margin: 0px
}

a {
    text-decoration: none;
    color: $sg-black;
}

a:active {
    cursor: grabbing;
    
}

ul {
    display: flex;
    flex-direction: row;
}

.navbar {
    width: 100vw;
    height: 70px;
    background-color: $sg-white;
    align-items: center;

}

.left-link {
    margin: 0 10px 0 0;
    height: 20px;
    
}

.right-link {
    margin: 0 0 0 10px;
}

.logo {
    margin-bottom: 15px;
    width: 150px;
    height: 60px;
}

.createDetails {
    width: 150px;
    margin-bottom: 20px;
}

.createImg {
    margin-top: 65px;
    margin-left:60px;
   
}
.createForm {
    display: grid;
    grid-template-rows: 1fr;;
    padding: 30px 0 0 3px;
}
// ================ Display Image ============ //
.homeImg {
    width: 100vw;
    height: 120px;
}


// ================ Map ============ //
.map {

    float: none;
    display: block;
    margin: 10px auto 0 auto;
    width: 100vw;
    height: 30vh;

    // border-radius: 10px;
}


// ================ Location box images ============ //
.img {
    width: 300px;
    height: 200px;
}


// ================ Scroll location box============ //
.scrollBox {
    width: 100vw;
    height: 500px;
    margin: 10px 0 0 0;
    // padding: 1px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    border: 2px solid red;
}



// ================ Location box ============ //
.locations {
    width: 100vw;
    // height: 480px;
    margin: 10px 0px 10px 0px;
    display: block;
}



// ================ Text box ============ //
input {
    width: 150px;
}



// ================ Footer ============ //
.footer {
    width: 100vw;
    padding: 0;
}

.footer ul {

}







}

