$sg-grey   : rgb(149, 154, 146);
$sg-black  : #2d2f32;
$sg-white  : #eaeaea;
$sg-green : #107D3F;
$sg-blue    : #88A5C1;
$sg-trueWhite : rgb(255, 255, 255);

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: yellow;
}

details {
    cursor: pointer;
}

// ================ Nav bar ============ //
.link {
    list-style: none;
    width: 70px;
    // padding: 5px;
    margin: 0px
}

a {
    text-decoration: none;
    color: $sg-black;
}

a:active {
    cursor: grabbing;
    
}

ul {
    display: flex;
    flex-direction: row;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 70px;
    background-color: $sg-white;
    align-items: center;
}
summary {
    height: 0; 
    width: 0;
}

.left-link {
    margin: 0 10px 0 0;
    height: 20px;
    
}

.right-link {
    margin: 0 0 0 10px;
}

.logo {
    margin-bottom: 15px;
    width: 150px;
    height: 60px;
}

.createDetails {
    width: 150px;
    margin-bottom: 20px;
}

.createImg {
    margin-top: 65px;
    margin-left:60px;
   
}
.createForm {
    display: grid;
    grid-template-rows: 1fr;;
    padding: 30px 0 0 3px;
}
// ================ Display Image ============ //
.homeImg {
    width: 100vw;
    height: 150px;
}


// ================ Map ============ //
.map {

    float: none;
    display: block;
    margin: 10px auto 0 auto;
    width: 100vw;
    height: 30vh;

    // border-radius: 10px;
}


// ================ Location box images ============ //
.img {
    width: 98vw;
    height: 200px;
    margin: 10px 5px 5px 5px;
    border-radius: 10px;
}


// ================ Scroll location box============ //
.scrollBox {
    width: 98vw;
    height: 500px;
    margin: 10px 5px 0 5px;
    // padding: 1px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    border: 2px solid red;
}





// ================ Location box ============ //
.locations {
    width: 98vw;
    // height: 480px;
    margin: 10px 0px 10px 0px;
    display: block;
    background-color:rgba(72, 109, 94, 0.441) ;
    box-shadow: 1px 1px 5px 1px $sg-blue;
    border: solid blue;
}

.slides {
    position: relative;
}

.slick-dots {
    // margin-bottom: -10px;
    bottom: 0;
}

.slides .slick-prev,
.slides .slick-next {
  position: absolute;
  top: 50%;
  z-index:1;
}

.slides .slick-prev {
    left: 2%;
}
  
.slides .slick-next {
    right: 2%;
}

// ========TextBox========= //

.textbox {
    background-color: $sg-white;
    text-align: center;
    margin-bottom: 5px;
    // width: 46vw;
    border-radius: 10px;
}

h1 {
    font-size: 20px;
    // margin-bottom: 150px;
}

.textbox-flex {
    display: grid;
    grid-template-columns: auto auto auto auto;
    border: 1px solid rgba(255, 255, 255, 0);
} 

.flex-info {
    width: 60px;
    margin: 5px 10px;
    text-align: left;
    font-size: 12px;
}

// .description {
//     // margin-bottom: 100px;
//     font-size: 10px;
// }

// .details {
//     list-style-type: none;
//     text-decoration:none;
//     background-color:rgba(8, 45, 8, 0.619);
//     text-align: center;
//     padding: 10px; 
//     position: relative;
//     z-index: 5;
//     border-radius: 10px;
// }

.Edit {
    width: 30px;
    height: 30px;
    display: block;
    margin: auto;
    padding: 2px;
}



// .textbox {
//     background-color: $sg-white;
//     text-align: center;
//     margin-bottom: 5px;
//     // width: 46vw;
//     border-radius: 10px;
// }



input {
    width: 5px;
}



// ================ Footer ============ //
.footer {
    width: 100vw;
    padding: 0;
}

.footer ul {

}







}

